<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">A.A.C.D.O.R.</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="<%=root_path%>">Accueil </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">À propos de nous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Nos tarifs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Nous contacter</a>
      </li>
      <% if current_user && current_user.statut == "adherent"%>
        <li class="nav-item">
          <a class="nav-link " href="<%=pages_client_path%>">Mon espace client</a>
        </li>
      <%elsif current_user && current_user.statut == "pcr"%>
        <li class="nav-item">
          <a class="nav-link " href="<%=pages_pcr_path%>">Mon espace PCR</a>
        </li>
      <%elsif current_user && current_user.statut == "admin"%>
        <li class="nav-item">
          <a class="nav-link " href="<%=pages_admin_path%>">Mon espace admin</a>
        </li>
      <%end%>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <% if current_user.nil?%>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Espace adhérent</button>
      <%else%>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Se déconnecter</button>
      <%end%>
    </form>
  </div>
</nav>
