<div class="card text-center" style="margin: 40px;">
  <div class="card-header">
    Espace Admin
  </div>
  <div class="card-body" style="margin: 40px;">
    <h5 class="card-title">MENU PROVISOIRE</h5>
    <p class="card-text">Fonctions provisoires pendant la réalisation de la plateforme</p>
    <a href="<%=adherents_path%>" class="btn btn-primary"style="margin: 10px;">Gestion des adhérents</a><br>
    <a href="#" class="btn btn-primary"style="margin: 10px;">Gestion des établissements</a>

  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
