<%= render 'shared/caroussel'%>


<blockquote class="blockquote text-center" style="margin: 40px;">
  <H1 class="mb-0">Une association créée par les chirurgiens-dentistes pour les chirurgiens-dentistes.</H1>
  <footer class="blockquote-footer"><span style="color: red;">A</span>ssociation d'<span style="color: red;">A</span>ide au <span style="color: red;">C</span>hirurgien-<span style="color: red;">D</span>entiste dans ses <span style="color: red;">O</span>bligations <span style="color: red;">R</span>églementaires.</footer>

</blockquote>


<div class="card bg-dark text-white text-center" style="margin: 40px;">
  <img src="../assets/home1.png" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>




<blockquote class="blockquote text-center" style="margin: 40px;">
  <H1 class="mb-0">Des services pour vous aider à travailler en toute sérénité.</H1>
  <footer class="blockquote-footer">Vous trouverez ci-dessous l'ensemble de nos offres.</footer>
</blockquote>

<%= render 'shared/card'%>

<blockquote class="blockquote text-center" style="margin: 40px;">
  <H1 class="mb-0">Intéressé(e)? Remplissez ce formulaire de contact.</H1>
  <footer class="blockquote-footer">Nous vous contacterons dans les meilleurs délais.</footer>
</blockquote>

<%= render 'shared/formulaire'%>

<%= render 'shared/footer'%>
